# General
NODE_ENV=development

# Broker MQTT independiente
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_URL=mqtt://localhost:1883

# Backend HTTP
BACKEND_HOST=0.0.0.0
BACKEND_PORT=3001

# SQLite
DATABASE_FILE=../../data/movilidad.sqlite
